<div fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto">

    <!-- CONTACT -->
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="15px">
        <mat-icon class="mb-16 grey-600-fg ">person_outline</mat-icon>
        <app-contact-selector fxFlex="1 0 auto" [required]="true" [contact]="event.contact" (onChange)="onContactChange($event)"></app-contact-selector>
    </div>
    <!-- / CONTACT -->

    <!--  LOCATION -->
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="15px">
        <mat-icon class="mb-16 grey-600-fg">location_on</mat-icon>
        <app-location-selector fxFlex="1 0 auto" [required]="true" [location]="event.location" (onChange)="onLocationChange($event)"></app-location-selector>
    </div>
    <!-- /  LOCATION -->

    <!-- NOTE -->
    <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="15px">
        <mat-icon class="grey-600-fg">speaker_notes</mat-icon>
        <mat-form-field fxFlex="1 0 auto">
            <mat-label>Note</mat-label>
            <textarea matInput placeholder="Note" [(ngModel)]="event.note" name="note"></textarea>
        </mat-form-field>
    </div>
    <!-- NOTE -->

</div>