<h1 mat-dialog-title>Duplicate Activity</h1>
<div class="mat-dialog-content" mat-dialog-content>

    <div fxLayout="column">

        <div class="header-toolbar">
            <div class="btn" (click)="onSave()">
                <mat-icon class="material-icons-outlined mr-4 s-20">save</mat-icon>
                <span>Save</span>
            </div>
            <div class="btn" (click)="onCancel()">
                <mat-icon class="material-icons-outlined mr-4 s-20">undo</mat-icon>
                <span>Cancel</span>
            </div>
        </div>


        <form class="event-form" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" #form="ngForm">

            <!-- ISDUPLICATE -->
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto" fxLayoutGap="15px">

                <mat-icon class="grey-600-fg material-icons-outlined">compare_arrows</mat-icon>

                <mat-slide-toggle name="isDuplicate" [(ngModel)]="model.isDuplicate" labelPosition="before">Is Duplicate</mat-slide-toggle>

            </div>
            <!-- / ISDUPLICATE -->
        </form>
    </div>
</div>