:host {
    width: 360px;
    position: fixed;
    right: 24px;
    bottom: 24px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .2);
    border-radius: 2px;
    z-index: 999999;
    .header {
        height: 55px;
        padding-left: 15px;
        border-radius: 3px 3px 0 0;
    }
    .box-collapse {
        vertical-align: -2px;
    }
    .list {
        background-color: #fff;
        .upload-item {
            border-bottom: solid 1px #eee;
            padding-left: 15px;
            padding-right: 20px;
            height: 50px;
        }
    }
}