@using Auth.Resources
@inject LocService SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION");
}
<div class="content-wrapper">
    <div class="content custom-scrollbar">
        <div id="forgot-password" class="p-8">
            <div class="form-wrapper md-elevation-8 p-8">
                <div class="logo bg-secondary">
                    <span>M</span>
                </div>
                <div class="title mt-4 mb-8">@ViewData["Title"]</div>
                <div class="description pt-2">
                    @SharedLocalizer.GetLocalizedHtmlString("FORGOT_PASSWORD_CONFIRMATION_TEXT")
                </div>
                <a asp-action="Login" class="submit-button btn btn-block btn-secondary mt-8 mb-4 mx-auto" aria-label="LOGIN">
                    Go to Login
                </a>                
            </div>
        </div>
    </div>
</div>
