<div class="flex flex-col flex-auto min-w-0">

  <!-- Header -->
  <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-4 sm:px-10 border-b bg-card dark:bg-transparent">
    <div class="flex-1 min-w-0">
      <!-- Breadcrumbs -->
      <div class="flex flex-wrap items-center font-medium">
        <div>
          <a class="whitespace-nowrap text-primary-500" [routerLink]="['/products']">Products</a>
        </div>
        <div class="flex items-center ml-1 whitespace-nowrap">
          <mat-icon class="icon-size-5 text-secondary" [svgIcon]="'heroicons_solid:chevron-right'"></mat-icon>
          <a class="ml-1 text-primary-500">New</a>
        </div>
      </div>
      <!-- Title -->
      <div class="mt-2">
        <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
          New Product
        </h2>
      </div>
    </div>
  </div>

  <!-- Main -->
  <div class="flex flex-wrap p-5 gap-5" style="justify-content: center;">

    <!-- p-6 sm:p-10 max-w-4xl -->
    <div class="flex-auto ">

      <app-error-box [error]="error"></app-error-box>

      <!-- Horizontal stepper -->
      <form class="p-4 bg-card shadow rounded overflow-hidden h-full relative" [formGroup]="form">

        <div class="flex mt-5">

          <!-- PRODUCT CARD -->
          <div class="flex flex-col gt-xs:flex-row w-6/12">

            <div class="flex">

              <mat-form-field class="flex-auto gt-xs:pr-3">
                <mat-label>Product name</mat-label>
                <input matInput formControlName="name" placeholder="Product name">
                <mat-icon class="icon-size-5" matSuffix [svgIcon]="'heroicons_solid:chip'"></mat-icon>
                <mat-error *ngIf="form.get('name').hasError('required')">Product Name is required.</mat-error>
              </mat-form-field>

            </div>

          </div>
          <!-- PRODUCT CARD -->

        </div>

        <div class="flex justify-end">

          <button class="px-8" mat-flat-button [color]="'primary'" type="button" [class.spinner_btn]="loading"
            [disabled]="loading" (click)="save()">
            Save
          </button>
        </div>
      </form>
    </div>

    <div class="uppy flex-auto"></div>

  </div>



</div>