<div class="content">

    <div class="header-tool accent mb-24">
        <div class="flex-center">
            <mat-icon class="mr-8 s-22" (click)="$event.stopPropagation()" matSuffix>format_list_bulleted</mat-icon>
            <span class="h2">Lookups</span>
        </div>
        <div>
            <button mat-flat-button type="button" [routerLink]="['/settings/lookups/new-lookup']">New Lookup</button>
        </div>
    </div>

    <div>

        <mat-form-field appearance="outline" fxFlex="30" fxFlex.xs="100" class="pr-4">
            <mat-label>Search Lookup</mat-label>
            <input matInput [formControl]="search">
            <mat-icon matSuffix class="secondary-text">search</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="30" fxFlex.xs="100" class="pl-4">
            <mat-label>Lookups Group</mat-label>
            <mat-select [formControl]="lookupsGroupCtrl" placeholder="Choose Lookup Group" #singleSelect>
                <ngx-mat-select-search [formControl]="lookupsGroupsFilterCtrl" [placeholderLabel]="'Find lookup...'"
                    [noEntriesFoundLabel]="'no matching lookup found'"></ngx-mat-select-search>
                <mat-option *ngFor="let lookup of filteredGroups | async" [value]="lookup.value">
                    {{lookup.text}}
                </mat-option>
            </mat-select>
            <mat-icon matSuffix class="secondary-text">work</mat-icon>
        </mat-form-field>

        <div fxFlex="30" fxFlex.xs="100" class="pl-16 mt-20">
            <mat-checkbox name="predefined" [formControl]="predefinedFilterCtrl">Predefined only</mat-checkbox>
        </div>


    </div>


    <div class="content mdc-table-container" style="height: 100%;">

        <div class="mat-elevation-z8 responsive-table" style="position:relative;">

            <mat-table class="lessons-table text-capitalize" [dataSource]="dataSource"
                matSort matSortActive="seqNo" matSortDirection="asc" matSortDisableClear>

                <ng-container matColumnDef="index">

                    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                    <mat-cell *matCellDef="let lookup; let i= index">
                        {{ paginator?.pageIndex > 0 ? (i + 1) + paginator?.pageIndex * paginator?.pageSize : i + 1 }}
                    </mat-cell>

                </ng-container>

                <ng-container matColumnDef="text">

                    <mat-header-cell *matHeaderCellDef>Text</mat-header-cell>
                    <mat-cell class="name-cell" *matCellDef="let lookup">{{lookup.text}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="value">

                    <mat-header-cell *matHeaderCellDef>Value</mat-header-cell>
                    <mat-cell class="name-cell" *matCellDef="let lookup">{{lookup.value}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="predefined">

                    <mat-header-cell *matHeaderCellDef>Predefined</mat-header-cell>
                    <mat-cell class="name-cell" *matCellDef="let lookup">{{lookup.predefined ? "Yes" : "No"}}</mat-cell>

                </ng-container>

                <ng-container matColumnDef="action">

                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell class="flex-center" *matCellDef="let lookup">

                        <mat-icon class="cursor-pointer blue-grey-600-fg mr-16"
                            [routerLink]="['/settings/lookups/edit-lookup', lookup.groupKey, lookup.text ]"
                            matSuffix>edit</mat-icon>

                        <mat-icon
                            class="cursor-pointer red-400-fg"
                            (click)="deleteLookup(lookup.id)">remove_circle_outline</mat-icon>

                    </mat-cell>

                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

            </mat-table>

            <div *ngIf="noData | async" class="no-records">
                No <span *ngIf="noMoreRecords$ | async">&nbsp; more &nbsp;</span> records found
            </div>


            <mat-paginator [length]="total$ | async" [pageSize]="pageSizeOptions[0]"
                [pageSizeOptions]="pageSizeOptions"></mat-paginator>

        </div>
    </div>