<div class="content">
    <div class="header-tool accent mb-24">
        <div class="flex-center">
            <mat-icon class="mr-8 s-22" (click)="$event.stopPropagation()" matSuffix>format_list_bulleted</mat-icon>
            <span class="h2">Tags</span>
        </div>
        <div>
            <button mat-flat-button type="button" [routerLink]="['/settings/tags/new-tag']">New Tag</button>
        </div>
    </div>
    <div fxHide fxShow.gt-sm>
        <!-- <span class="mat-caption">Grantors are people, private or public organizations who make a grant in legal form;
            "conveyed from grantor to grantee" alienor - someone from whom the title of property is transferred.
            granter - a person who grants or gives something.</span> -->
    </div>
    <!-- <div *ngIf="rowData.length === 0">
        <span class="mat-body-2 warn-fg">Your system has no grantors yet, try adding some.</span>
    </div> -->

    <div class="content mdc-table-container" style="height: 100%;">

        <div>
            <mat-form-field appearance="outline" fxFlex.xs="100" fxFlex="300px">
                <mat-label>Search tag</mat-label>
                <input matInput placeholder="Search tag" #input [formControl]="search">
                <mat-icon matSuffix class="secondary-text">search</mat-icon>
            </mat-form-field>
        </div>


        <div class="mat-elevation-z8 responsive-table" style="position:relative;">

            <mat-table class="lessons-table text-capitalize" [dataSource]="dataSource"
                matSort matSortActive="seqNo" matSortDirection="asc" matSortDisableClear>

                <ng-container matColumnDef="index">

                    <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
                    <mat-cell *matCellDef="let tag; let i= index">
                        {{ paginator?.pageIndex > 0 ? (i + 1) + paginator?.pageIndex * paginator?.pageSize : i + 1 }}
                    </mat-cell>

                </ng-container>

                <ng-container matColumnDef="name">

                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell class="name-cell" *matCellDef="let tag">{{tag.name}}</mat-cell>

                </ng-container>
                <ng-container matColumnDef="group">

                    <mat-header-cell *matHeaderCellDef>Group</mat-header-cell>
                    <mat-cell class="name-cell" *matCellDef="let tag">{{tag.group}}</mat-cell>

                </ng-container>
                <ng-container matColumnDef="action">

                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell class="flex-center" *matCellDef="let tag">

                        <mat-icon class="cursor-pointer blue-grey-600-fg mr-16"
                            [routerLink]="['/settings/tags/edit-tag', tag.id ]"
                            matSuffix>edit</mat-icon>

                        <mat-icon
                            class="cursor-pointer red-400-fg"
                            (click)="deleteTag(tag.id)">remove_circle_outline</mat-icon>

                    </mat-cell>

                </ng-container>


                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

            </mat-table>

            <div *ngIf="noData | async" class="no-records">
                No <span *ngIf="noMoreRecords$ | async">&nbsp; more &nbsp;</span> records found
            </div>


            <mat-paginator [length]="total$ | async" [pageSize]="pageSizeOptions[0]"
                [pageSizeOptions]="pageSizeOptions"></mat-paginator>

        </div>
    </div>