 <!-- SIDEBAR -->
<fuse-sidebar class="sidebar main-sidebar" name="pdf-viewer-sidebar" position="right" >

  <!-- SIDEBAR HEADER -->
  <div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">

    <div class="logo" fxLayout="row" fxLayoutAlign="start center" >
      <!-- <mat-icon class="logo-icon secondary-text s-36 mr-16">folder</mat-icon> -->
      <span class="logo-text h1">PDF</span>
    </div>

  </div>
  <!-- / SIDEBAR HEADER -->

  <!-- SIDEBAR CONTENT -->
  <div class="content py-16" perfectScrollbar >
<!-- 
    <pdf-viewer
      style="display:flex;"
      [src]="pdfSrc"
      [render-text]="true"
      style="display: block;"
      [zoom]="1"></pdf-viewer> -->

  </div>
  <!-- / SIDEBAR CONTENT -->


</fuse-sidebar>
<!-- / SIDEBAR -->
