<ng-container #mediaFlow="flow"
    [flowConfig]="{target: mediaEndpoint+ '/files/uploads' ,
    allowDuplicateUploads :true,
    chunkSize: 1000000,
    headers: {
    }}"></ng-container>

<div class="content">
    <div class="header-tool accent mb-24" stickybits>
        <div class="flex-center">
            <mat-icon class="mr-8 s-22" (click)="$event.stopPropagation()" matSuffix>add_box</mat-icon>
            <span class="h2">New Condition
                <small [hidden]="!condition.name" style="color: #98f677;"> -
                    <span class="text-capitalize">{{condition.name}}</span>
                </small>
            </span>
        </div>
        <div class="flex-center">

            <mdc-form-status [formStatus]="formStatus"></mdc-form-status>

        </div>
        <span>
            <button mat-flat-button type="button" (click)="saveChanges()">Save</button>
            <button mat-flat-button type="button" (click)="onDone()" class="ml-8">Done</button>
        </span>
    </div>

    <mdc-form-infobox-error [dataLink]="errors"></mdc-form-infobox-error>

    <form #form="ngForm" class="mdc-form" autocomplete="off">

        <!-- MAIN REQUIRED -->
        <mdc-form-group class="mdc-form-group">
            <!-- HEADER -->
            <ng-container class="form-group-header-selector">
                <span class="m-0 h3">Main</span>
                <span class="mdc-card-mark">
                    <span class="ml-8 mr-8 blue-grey-100-fg"> | </span>
                    <small class="orange-300-fg"> Required</small>
                </span>
            </ng-container>
            <!-- / HEADER -->

            <!-- FRONT -->
            <div class="form-group-front-selector">
                <div class="mdc-form-body">
                    <div class="mdc-form-box" style="flex-grow: 1;">
                        <mat-form-field class="mdc-smart-input">
                            <input matInput
                                placeholder="Condition name"
                                [ngModelOptions]="{updateOn:'blur'}"
                                #nameControl="ngModel" name="name"
                                [(ngModel)]="condition.name"
                                autofocus
                                required>
                            <mat-error *ngIf="nameControl.hasError('required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mdc-form-box" style="flex-grow: 1;">
                        <mat-form-field>
                            <input
                                appMaskDate
                                [ngModelOptions]="{updateOn:'blur'}"
                                matInput
                                [matDatepicker]="picker"
                                #entryDateControl="ngModel"
                                name="entryDate"
                                placeholder="Entry Date"
                                [(ngModel)]="condition.opened"
                                required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="entryDateControl.hasError('required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="mdc-form-box" style="flex-grow: 1;">
                        <mat-form-field>
                            <mat-select placeholder="Choose Location"
                                name="location"
                                [(ngModel)]="condition.location"
                                #locationControl="ngModel"
                                [compareWith]="_formUtilsService.matSelectCompare"
                                required
                                mdcRequiredValidator="id">
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let location of locations" [value]="{id: location.id, name: location.name,
                                    __typename:'LocationView'}">
                                    {{location.name}}
                                </mat-option>
                            </mat-select>
                            <!-- <mat-error *ngIf="locationControl.hasError('required')">Please choose location</mat-error> -->
                            <mat-error *ngIf="locationControl.hasError('mdcRequired')">Please choose location
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="mdc-form-box" style="flex-grow: 1;">
                        <mat-form-field>
                            <mat-select
                                placeholder="Choose Sub-Location"
                                [compareWith]="_formUtilsService.matSelectCompareString"
                                name="subLocation" [(ngModel)]="condition.subLocation">
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let subLocation of subLocations" [value]="subLocation">
                                    {{subLocation}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>

                </div>
            </div>

        </mdc-form-group>
        <!-- / MAIN REQUIRED -->

        <!-- CHEIF COMPLAINT & PRESENT HISTORY -->
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px">

            <div [fxFlex.xs]="100" [fxFlex]="50">

                <!--CHEIF COMPLAINT -->
                <mdc-form-group class="mdc-form-group">
                    <!-- HEADER -->
                    <ng-container class="form-group-header-selector">
                        <span class="m-0 h3">Chief Complaint</span>
                        <span class="mdc-card-mark">
                        </span>
                    </ng-container>
                    <!-- / HEADER -->

                    <!-- FRONT -->
                    <div class="form-group-front-selector">
                        <mdc-lookup-input-advanced-predefined
                            [predefinedActive]="true"
                            [lookupsCollection]="lookups.cheif_complaint || []"
                            [dataLink]="condition.cheifComplaint"
                            [groupkey]="'cheif_complaint'"
                            [modelName]="'cheifComplaint'"
                            [placeholder]="'Chief Complaint'"
                            (notify)="notifyHandler($event)"
                            #chefiComplaintElRef>
                        </mdc-lookup-input-advanced-predefined>
                    </div>
                    <!-- / FRONT -->

                </mdc-form-group>
                <!-- / CHEIF COMPLAINT -->

            </div>

            <div [fxFlex.xs]="100" [fxFlex]="50">

                <!-- PRESENT HISTORY -->
                <mdc-form-group class="mdc-form-group">
                    <!-- HEADER -->
                    <ng-container class="form-group-header-selector">
                        <span class="m-0 h3">Present history</span>
                    </ng-container>
                    <!-- / HEADER -->

                    <!-- FRONT -->
                    <div class="form-group-front-selector">
                        <mdc-lookup-input-advanced-predefined
                            [predefinedActive]="true"
                            [lookupsCollection]="lookups.present_history || []"
                            [dataLink]="condition.presentHistory"
                            [groupkey]="'present_history'"
                            [modelName]="'presentHistory'"
                            [placeholder]="'Present History'"
                            (notify)="notifyHandler($event)"
                            #presentHistoryElRef>
                        </mdc-lookup-input-advanced-predefined>
                    </div>
                    <!-- / FRONT -->

                </mdc-form-group>
                <!-- / PRESENT HISTORY -->

            </div>

        </div>
        <!-- / CHEIF COMPLAINT & PRESENT HISTORY -->

        <!-- PHYSICAL EXAM & DIFF DIAGNOSIS -->
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px">

            <div [fxFlex.xs]="100" [fxFlex]="50">

                <!-- PHYSICAL EXAM -->
                <mdc-form-group class="mdc-form-group">

                    <!-- HEADER -->
                    <ng-container class="form-group-header-selector">
                        <span class="m-0 h3">Physical Exam</span>
                        <span class="mdc-card-mark"> </span>
                    </ng-container>
                    <!-- / HEADER -->

                    <!-- FRONT -->
                    <div class="form-group-front-selector">
                        <mdc-lookup-input-advanced-predefined
                            [lookupsCollection]="lookups.physical_exam || []"
                            [dataLink]="condition.physicalExam"
                            [groupkey]="'physical_exam'"
                            [modelName]="'physicalExam'"
                            [flow]="mediaFlow"
                            [predefinedActive]="true"
                            [placeholder]="'Physical Exam'"
                            (notify)="notifyHandler($event)"
                            #physicalExamElRef>

                        </mdc-lookup-input-advanced-predefined>

                        <media-file-list
                            [flow]="mediaFlow"
                            [files]="activityFiles.physicalExam"
                            [autoTagName]="FileSystemTagsEnum.physicalExam"
                            [headerName]="'Phy. Exam'"
                            (onDeleteSelected)="onDeleteSelectedFiles($event)"
                            (onAttachedFiles)="onAttachedFiles($event)"></media-file-list>
                    </div>
                    <!-- / FRONT -->

                </mdc-form-group>
                <!-- / PHYSICAL EXAM -->

            </div>

            <div [fxFlex.xs]="100" [fxFlex]="50">

                <!-- DIFFERENTIAL DIAGNOSIS -->
                <mdc-form-group class="mdc-form-group" [containImages]="false">
                    <!-- HEADER -->
                    <ng-container class="form-group-header-selector">
                        <span class="m-0 h3">Differential Diagnosis</span>
                        <span class="mdc-card-mark"> </span>
                    </ng-container>
                    <!-- / HEADER -->

                    <!-- FRONT -->
                    <div class="form-group-front-selector">
                        <mdc-lookup-input-advanced-predefined
                            [predefinedActive]="true"
                            [lookupsCollection]="lookups.diagnosis || []"
                            [dataLink]="condition.differentialDiagnosis"
                            [groupkey]="'diagnosis'"
                            [modelName]="'differentialDiagnosis'"
                            [placeholder]="'Differential Diagnosis'"
                            (notify)="notifyHandler($event)"
                            #differentialDiagnosisElRef>

                        </mdc-lookup-input-advanced-predefined>
                    </div>
                    <!-- / FRONT -->

                </mdc-form-group>
                <!-- / DIFFERENTIAL DIAGNOSIS -->

            </div>

        </div>
        <!-- / PHYSICAL EXAM & DIFF DIAGNOSIS -->

        <!-- INVESTIGATION -->
        <mdc-form-group class="mdc-form-group">

            <!-- HEADER -->
            <ng-container class="form-group-header-selector">
                <span class="m-0 h3">Investigation</span>
            </ng-container>
            <!-- / HEADER -->

            <!-- FRONT -->
            <div class="form-group-front-selector">

                <div fxLayout="column">

                    <div>
                        <div fxFlex="0 0 calc(50% - 30px)" fxFlex.xs="100">
                            <!-- CONSULTAION -->
                            <mdc-lookup-input-advanced-predefined
                                [predefinedActive]="true"
                                [lookupsCollection]="lookups.consultation || []"
                                [dataLink]="condition.consultation"
                                [groupkey]="'consultation'"
                                [modelName]="'consultation'"
                                [placeholder]="'Consultation'"
                                (notify)="notifyHandler($event)"
                                #consultationElRef>
                            </mdc-lookup-input-advanced-predefined>
                            <!-- / CONSULTAION -->
                        </div>

                    </div>


                    <div fxLayout="row" fxLayout.xs="column"
                        fxLayoutAlign="start start" fxLayoutAlign.xs="unset unset"
                        fxLayoutGap="60px" fxLayoutGap.xs="20px">

                        <!-- RADIO -->
                        <div [fxFlex]="50" [fxFlex.xs]="100">
                            <mdc-lookup-input-advanced-predefined
                                [predefinedActive]="true"
                                [lookupsCollection]="lookups.radio || []"
                                [dataLink]="condition.radio"
                                [groupkey]="'radio'"
                                [modelName]="'radio'"
                                [flow]="mediaFlow"
                                [placeholder]="'Radio'"
                                (notify)="notifyHandler($event)"
                                #radioElRef>
                            </mdc-lookup-input-advanced-predefined>

                            <media-file-list
                                [flow]="mediaFlow"
                                [files]="activityFiles.radio"
                                [autoTagName]="FileSystemTagsEnum.radio"
                                [headerName]="'Radio'"
                                (onDeleteSelected)="onDeleteSelectedFiles($event)"
                                (onAttachedFiles)="onAttachedFiles($event)"></media-file-list>

                        </div>
                        <!-- / RADIO -->

                        <!-- LABORATORY -->
                        <div [fxFlex]="50" [fxFlex.xs]="100">
                            <mdc-lookup-input-advanced-predefined
                                [predefinedActive]="true"
                                [lookupsCollection]="lookups.laboratory || []"
                                [dataLink]="condition.laboratory"
                                [groupkey]="'laboratory'"
                                [modelName]="'laboratory'"
                                [flow]="mediaFlow"
                                [placeholder]="'Laboratory'"
                                (notify)="notifyHandler($event)"
                                #laboratoryElRef>
                            </mdc-lookup-input-advanced-predefined>

                            <media-file-list
                                [flow]="mediaFlow"
                                [files]="activityFiles.laboratory"
                                [autoTagName]="FileSystemTagsEnum.laboratory"
                                [headerName]="'Laboratory'"
                                (onDeleteSelected)="onDeleteSelectedFiles($event)"
                                (onAttachedFiles)="onAttachedFiles($event)"></media-file-list>

                        </div>
                        <!-- / LABORATORY -->

                    </div>

                </div>
            </div>
            <!-- / FRONT -->

        </mdc-form-group>
        <!-- / INVESTIGATION -->

        <!-- TREATMENT & DIAGNOSIS -->
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap.gt-xs="30px">

            <div [fxFlex.xs]="100" [fxFlex]="50">

                <!-- DIAGNOSIS -->
                <mdc-form-group class="mdc-form-group">
                    <!-- HEADER -->
                    <ng-container class="form-group-header-selector">
                        <span class="m-0 h3">Diagnosis</span>
                        <span class="mdc-card-mark">
                        </span>
                    </ng-container>
                    <!-- / HEADER -->

                    <!-- FRONT -->
                    <div class="form-group-front-selector" style="min-height:195px;">
                        <mdc-lookup-input-advanced-predefined
                            [predefinedActive]="true"
                            [lookupsCollection]="lookups.diagnosis || []"
                            [dataLink]="condition.diagnosis"
                            [groupkey]="'diagnosis'"
                            [modelName]="'diagnosis'"
                            [placeholder]="'Diagnosis'"
                            (notify)="notifyHandler($event)"
                            #diagnosisElRef>
                        </mdc-lookup-input-advanced-predefined>
                    </div>
                    <!-- / FRONT -->

                </mdc-form-group>
                <!-- / DIAGNOSIS -->

            </div>

            <div [fxFlex.xs]="100" [fxFlex]="50">

                <!-- TREATMENT -->
                <mdc-form-group class="mdc-form-group">

                    <!-- HEADER -->
                    <ng-container class="form-group-header-selector">
                        <span class="m-0 h3">Treatment</span>
                    </ng-container>
                    <!-- / HEADER -->

                    <!-- FRONT -->
                    <div class="form-group-front-selector">

                        <div fxLayout="column">

                            <mdc-medication-input [dataLink]="condition.medications" [modelName]="'medications'"
                                (notifyMedication)="notifyMedicationHandler($event)">
                            </mdc-medication-input>

                            <mdc-lookup-input-advanced-predefined
                                [predefinedActive]="true"
                                [lookupsCollection]="lookups.other_treatments || []"
                                [dataLink]="condition.otherTreatments"
                                [groupkey]="'other_treatments'"
                                [modelName]="'otherTreatments'"
                                [placeholder]="'Other'"
                                (notify)="notifyHandler($event)"
                                #otherTreatmentsElRef>
                            </mdc-lookup-input-advanced-predefined>

                        </div>

                    </div>
                    <!-- / FRONT -->

                </mdc-form-group>
                <!-- / TREATMENT -->

            </div>

        </div>
        <!-- / TREATMENT & DIAGNOSIS -->

        <!-- NOTE -->
        <div fxLayout="row">

            <div [fxFlex]="100">

                <!-- NOTE -->
                <mdc-form-group class="mdc-form-group">

                    <!-- HEADER -->
                    <ng-container class="form-group-header-selector">
                        <span class="m-0 h3">Note</span>
                    </ng-container>
                    <!-- / HEADER -->

                    <!-- FRONT -->
                    <div class="form-group-front-selector">
                        <mdc-lookup-input-advanced-predefined
                            [predefinedActive]="true"
                            [lookupsCollection]="lookups.note || []"
                            [dataLink]="condition.note"
                            [groupkey]="'note'"
                            [modelName]="'note'"
                            [placeholder]="'Note'"
                            (notify)="notifyHandler($event)"
                            #noteElRef>
                        </mdc-lookup-input-advanced-predefined>
                    </div>
                    <!-- / FRONT -->

                </mdc-form-group>
                <!-- / NOTE -->

            </div>
        </div>
        <!-- / NOTE -->

        <!-- MEDICATION PROTOTYPE -->
        <div fxLayout="row" class="medication">

            <div [fxFlex]="100">

                <div class="m-section">
                    <div class="m-header h3 blue-grey-500-bg">
                        Medication
                        <div class="flex flex-align-center cursor-pointer" (click)="newMedication()">
                            <mat-icon class="mr-4">add_box</mat-icon>New medication
                        </div>
                    </div>

                    <div class="m-body mt-12 mb-12" *ngIf="patientIdExist">

                        <app-medications [patientId]="patient.id" [conditionId]="condition.id"></app-medications>

                    </div>
                </div>



            </div>
        </div>
        <!-- / MEDICATION PROTOTYPE -->

        <div class="media-file-list-container">
            <media-file-list
                [flow]="mediaFlow"
                [files]="activityFiles.other"
                [autoTagName]="''"
                [headerName]="'Media'"
                (onDeleteSelected)="onDeleteSelectedFiles($event)"
                (onAttachedFiles)="onAttachedFiles($event)"></media-file-list>
        </div>

    </form>
</div>

<upload-file-popup *ngIf="isUploadPopupOpened" [flow]="mediaFlow" [isOpened]="isUploadPopupOpened"
    (onClose)="isUploadPopupOpened= false"></upload-file-popup>