.recurrence-container {
    padding: 10px 2px 3px 8px;
    border-bottom: 1px solid #a19f9d;

    .recurrence-label {
        padding-right: 6px;
    }
    
    &.editable {
        .recurrence-value {
            cursor: pointer;
        }
    
        .recurrence-value:hover {
            color: rgb(79, 143, 204);
        }
    }
}

