<mat-form-field class="flex-auto">
  <mat-label>{{label}}</mat-label>
  <mat-select [formControl]="userControl" placeholder="User" [compareWith]="compareById" >
    <!-- place ngx-mat-select-search inside mat-option to allow opening without initial selection -->
    <mat-option>
      <ngx-mat-select-search [formControl]="filterCtrl" [searching]="searching" [placeholderLabel]="'Search'"
        [required]="required" [noEntriesFoundLabel]="!searching ? 'No matching users.' : 'Loading..'">
      </ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let record of users$ | async" [value]="record" >
      {{record?.name}}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="form.get(controlName).hasError('required')">This field is required.</mat-error>
</mat-form-field>