<!-- SIDEBAR HEADER -->
<div class="header p-24" fxLayout="column" fxLayoutAlign="space-between">

    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon secondary-text s-36 mr-16">folder</mat-icon>
        <span class="logo-text h1">File Manager</span>
    </div>

</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content py-16" perfectScrollbar>

    <div class="nav">

        <div class="nav-item" aria-label="starred">
            <a class="nav-link" matRipple>
                <mat-icon class="nav-link-icon">delete</mat-icon>
                <div class="title">Trash</div>
            </a>
        </div>
       
    </div>

</div>
<!-- / SIDEBAR CONTENT -->
