<!-- @ IMPORTANT : Component should be added in <form></form> -->

<mat-form-field fxFlex="100">
    <mat-label>Choose a location</mat-label>
    <mat-select
        [(ngModel)]="location"
        [compareWith]="locationCompareWith"
        (selectionChange)="selectionChange($event)"
        #locationControl="ngModel"
        name="location"
        required="{{required}}"
        mdcRequiredValidator="id">
        <mat-option *ngFor="let location of locations$ | async" [value]="{id: location.id, name: location.name,
            __typename:'LocationView'}">
            {{location.name}}
        </mat-option>
    </mat-select>
    <mat-error *ngIf="locationControl.hasError('mdcRequired')">Please choose location
    </mat-error>
</mat-form-field>
