--- 
commands: 
  01-command: 
    command: "sudo yum install -y --enablerepo=epel GraphicsMagick"
  02-command: 
    command: "sudo yum install -y ImageMagick"
packages: 
  yum: 
    autoconf: []
    automake: []
    bison: []
    bzip2: []
    gcc: []
    gcc-c++: []
    libffi-devel: []
    libtool: []
    libxml2: []
    libxml2-devel: []
    libxslt: []
    libxslt-devel: []
    libyaml-devel: []
    make: []
    mysql: []
    mysql-devel: []
    openssl-devel: []
    patch: []
    readline: []
    readline-devel: []
    ruby-irb: []
    zlib: []
    zlib-devel: []
