<div class="content">

    <div class="header-tool accent mb-24">
        <div class="flex-center">
            <mat-icon class="mr-8 s-22" (click)="$event.stopPropagation()" matSuffix>add_box</mat-icon>
            <span class="h2">New Location</span>
        </div>
        <div class="flex-center">

            <mdc-form-status [formStatus]="formStatus"></mdc-form-status>

        </div>
        <div>
            <button mat-flat-button type="button" (click)="saveChanges()">Save</button>
            <button mat-flat-button type="button" (click)="onDone()" class="ml-8">Done</button>
        </div>

    </div>

    <mdc-form-infobox-error [dataLink]="errors"></mdc-form-infobox-error>

    <form #form="ngForm" autocomplete="off" fxLayout="row wrap">

        <!-- MAIN REQUIRED -->
        <mdc-form-group class="mdc-form-group" fxFlex="0 0 330px" [ngClass.sm]="'mr-20'" [ngClass.gt-sm]="'mr-20'">
            <!-- HEADER -->
            <ng-container class="form-group-header-selector">
                <span class="m-0 h3">Main</span>
                <span class="mdc-card-mark">
                    <span class="ml-8 mr-8 blue-grey-100-fg"> | </span>
                    <small class="orange-300-fg"> Required</small>
                </span>
            </ng-container>
            <!-- / HEADER -->

            <!-- FRONT -->
            <div class="form-group-front-selector">
                <div class="mdc-form-body">
                    <div class="mdc-form-box" style="flex-grow: 1;">
                        <mat-form-field class="mdc-smart-input">
                            <input matInput placeholder="Name" #nameControl="ngModel" name="name" [(ngModel)]="location.name"
                                autofocus
                                required>
                            <mat-error *ngIf="nameControl.hasError('required')">
                                This field is required
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="mdc-form-box">
                        <mat-form-field>
                            <mat-select placeholder="Choose Location Type" name="type" [(ngModel)]="location.type"
                                #typeModel="ngModel" required>
                                <mat-option>--</mat-option>
                                <mat-option value="hospital">Hospital</mat-option>
                                <mat-option value="privateClinic">Clinic</mat-option>
                                <mat-option value="medicalCenter">Medical Center</mat-option>
                            </mat-select>
                            <mat-error *ngIf="typeModel.hasError('required')">Please choose Location Type</mat-error>
                        </mat-form-field>
                    </div>

                </div>
            </div>

        </mdc-form-group>
        <!-- / MAIN REQUIRED -->

        <!-- EXTRA DETAILS -->
        <mdc-form-group class="mdc-form-group" style="flex-grow:1;">
            <!-- HEADER -->
            <ng-container class="form-group-header-selector">
                <span class="m-0 h3">Extra Details</span>
                <span class="mdc-card-mark">
                    <span class="ml-8 mr-8 blue-grey-100-fg"> | </span>
                    <small class="blue-100-fg"> Optional</small>
                </span>
            </ng-container>
            <!-- / HEADER -->

            <!-- FRONT -->
            <div class="form-group-front-selector" style="min-height: 131px;">
                <div class="mdc-form-body extra-container">

                    <div class="mdc-form-box">
                        <mat-form-field class="mdc-smart-input">
                            <input matInput placeholder="Contact" #nameModel="ngModel" name="contact"
                                [(ngModel)]="location.contact">
                        </mat-form-field>
                    </div>

                    <div class="mdc-form-box">
                        <mat-form-field class="mdc-smart-input">
                            <input matInput placeholder="Address" #nameModel="ngModel" name="address"
                                [(ngModel)]="location.address">
                        </mat-form-field>
                    </div>
                </div>
                <div class="mdc-form-body">
                    <div class="mdc-form-box" fxFlex="50" fxFlex.xs="100">
                        <div class="flex-column">
                            <mat-form-field class="mdc-smart-input" fxFlex="100">
                                <input type="text" placeholder="Sub-Locations" aria-label="Assignee" matInput
                                    [formControl]="ctrl"
                                    (keyup.enter)="addSubLocation()">
                                <mat-icon class="cursor-pointer"
                                    (click)="addSubLocation();$event.stopPropagation()"
                                    matSuffix
                                    matTooltip="Click here or press enter to store this record"
                                    [matTooltipClass]="'font-size-12'">add_box</mat-icon>
                            </mat-form-field>

                            <div *ngFor="let item of location.subLocations; index as index">
                                <div class="text-container">
                                    <mat-icon class="cursor-pointer s-16 mr-8" matSuffix>subdirectory_arrow_right</mat-icon>
                                    <span class="action blue-grey-500">
                                        <mat-icon class="cursor-pointer s-16"
                                            (click)="deleteSubLocation(index,item);$event.stopPropagation()"
                                            matSuffix>delete_forever</mat-icon>
                                    </span>
                                    <span class="text"> {{ item }} </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </mdc-form-group>
        <!-- / EXTRA DETAILS -->

    </form>

</div>