<div class="media-container no-selection">
    <!-- <div class="media-header">

        <span class="flex-center">
            <mat-icon class="s-18 mr-4">photo</mat-icon>
            <span class="name">{{headerName}}</span>
        </span>
    </div> -->
    <div class="media-carousel">
        <!-- auto-tagged-file class is a point for controller to hande tag name -->
        <div class="files-container auto-tagged-file"
            >
            <div class="carousel-box">

                <mat-icon class="mat-18 cursor-pointer"
                    (click)="!isLeftMainMediaDisabled && mainMedia.moveLeft()"
                    [class.btn-disabled]="isLeftMainMediaDisabled">chevron_left</mat-icon>

                <drag-scroll #mainMedia
                    [snap-duration]="200"
                    (reachesLeftBound)="mainMediaLeftBound($event)"
                    (reachesRightBound)="mainMediaRighttBound($event)"
                    [drag-scroll-disabled]="false">
                    <div class="holder" *ngFor="let item of files">

                        <div class="item-box" *ngIf="item.type.startsWith('image')">
                            <div class="ctnr">
                                <div class="img-overlay" *ngIf="mediaSelectMode">
                                    <mat-checkbox
                                        value="{{item.path}}" color="warn"
                                        (change)="selectFile($event,item)"></mat-checkbox>
                                </div>
                                <img drag-scroll-item
                                    src="{{mediaEndpoint}}/photos/{{tenantId}}/{{item.name.toLowerCase()}}?preset=small"
                                    (click)="previewImage(item,'other')"
                                    src-fallback="{{imageFallback}}"
                                    />
                            </div>
                        </div>

                        <!-- PDF -->
                        <!-- <div class="item-box" *ngIf="item?.type.startsWith('application/pdf')" [matTooltip]="item.name">
                            <div class="ctnr">
                                <div class="img-overlay" *ngIf="mediaSelectMode">
                                    <mat-checkbox
                                        value="{{item.path}}" color="warn"
                                        (change)="selectFile($event,item)"></mat-checkbox>
                                </div>

                                <img drag-scroll-item
                                    style="box-shadow: none;"
                                    (click)="previewPdf(item)"
                                    src="../../../../../assets/images/icons/pdf-file-logo-icon.jpg" />
                                <span class="file-name text-truncate">{{item.name}}</span>
                            </div>
                        </div> -->
                        <!-- / PDF -->

                    </div>
                </drag-scroll>

                <mat-icon class="mat-18 cursor-pointer"
                    (click)="!isRightMainMediaDisabled && mainMedia.moveRight()"
                    [class.btn-disabled]="isRightMainMediaDisabled"
                    style="justify-content: flex-end;">chevron_right</mat-icon>
            </div>
        </div>
    </div>
</div>
