<div class="content p-12">
    <div class="header-tool accent mb-24" stickybits>
        <div class="flex-center">
            <mat-icon class="mr-8 s-22" (click)="$event.stopPropagation()" matSuffix>edit</mat-icon>
            <span class="h2">
                Edit Patient
                <small [hidden]="!patient.name" style="color: #98f677;"> -
                    <span class="text-capitalize">{{patient.name}}</span>
                </small>
            </span>
        </div>
        <div class="flex-center">

            <mdc-form-status [formStatus]="formStatus"></mdc-form-status>

        </div>
        <span>
            <button mat-flat-button type="button" (click)="saveChanges()">Save</button>
            <button mat-flat-button type="button" (click)="onDone()" class="ml-8">Done</button>
            <!-- <button mat-flat-button type="button" class="ml-8" (click)="onProfileClick()" *ngIf="patient.id">Open
                Profile</button> -->
        </span>
    </div>

    <mdc-form-infobox-error [dataLink]="errors"></mdc-form-infobox-error>

    <form #form="ngForm" class="mdc-form" autocomplete="off">
        <div fxLayout="row" fxLayout.xs="column">

            <!-- MAIN REQUIRED -->
            <mdc-form-group class="mdc-form-group" [ngClass.sm]="'mr-20'" [ngClass.gt-sm]="'mr-20'">
                <!-- HEADER -->
                <ng-container class="form-group-header-selector">
                    <span class="m-0 h3">Identity</span>
                    <span class="mdc-card-mark">
                        <span class="ml-8 mr-8 blue-grey-100-fg"> | </span>
                        <small class="orange-300-fg"> Required</small>
                    </span>
                </ng-container>
                <!-- / HEADER -->

                <!-- FRONT -->
                <div class="form-group-front-selector">
                    <div class="mdc-form-body" fxLayout="column" style="min-width: 300px;">
                        <div class="mdc-form-box full-width">
                            <mat-form-field class="mdc-smart-input">
                                <input matInput placeholder="Name" #nameModel="ngModel" name="name"
                                    [(ngModel)]="patient.name" [ngModelOptions]="{updateOn:'blur'}" autofocus required>
                                <mat-error *ngIf="nameModel.hasError('required')">
                                    This field is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="mdc-form-box full-width">

                            <mat-form-field class="mdc-smart-input">
                                <ngx-mat-intl-tel-input [enablePlaceholder]="true" [inputPlaceholder]=""
                                    [enableSearch]="true" [preferredCountries]="['lb']" [format]="'national'"
                                    name="phone" required [(ngModel)]="patient.telephone" #phoneModel>
                                </ngx-mat-intl-tel-input>
                                <mat-error
                                    *ngIf="form.form.controls['phone']?.errors?.required || form.form.controls['phone']?.errors?.validatePhoneNumber">
                                    A valid phone number is required.</mat-error>
                                <!-- <mat-error *ngIf="form.form.controls['phone']?.errors?.validatePhoneNumber">Invalid Number</mat-error> -->
                            </mat-form-field>
                            
                            <!--                             
                            <mat-form-field class="mdc-smart-input">
                                <input matInput
                                    placeholder="Telephone"
                                    #telephoneModel="ngModel"
                                    name="telephone"
                                    [(ngModel)]="patient.telephone"
                                    [ngModelOptions]="{updateOn:'blur'}"
                                    [showMaskTyped]="true"
                                    prefix="+ (961)"
                                    mask="00-000-000"
                                    required>
                                <mat-error *ngIf="telephoneModel.hasError('required')">
                                    This field is required
                                </mat-error>
                            </mat-form-field> -->
                        </div>
                        <div class="mdc-form-box full-width">
                            <mat-form-field>
                                <input appMaskDate matInput [matDatepicker]="picker" #birthDateModel="ngModel"
                                    name="Birthday" placeholder="Birthday" [ngModelOptions]="{updateOn:'blur'}"
                                    [(ngModel)]="patient.birthDate" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="birthDateModel.hasError('required')">
                                    This field is required
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="mdc-form-box full-width">
                            <mat-form-field>
                                <mat-select placeholder="Choose Gender" [ngModelOptions]="{updateOn:'blur'}"
                                    name="gender" [(ngModel)]="patient.gender" #genderModel="ngModel" required>
                                    <mat-option>--</mat-option>
                                    <mat-option value="male">Male</mat-option>
                                    <mat-option value="female">Female</mat-option>
                                </mat-select>
                                <mat-error *ngIf="genderModel.hasError('required')">Please choose gender</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                </div>

            </mdc-form-group>
            <!-- / MAIN REQUIRED -->

            <!-- EXTRA DETAILS -->
            <mdc-form-group class="mdc-form-group">
                <!-- HEADER -->
                <ng-container class="form-group-header-selector">
                    <span class="m-0 h3">Details</span>
                    <span class="mdc-card-mark">
                        <span class="ml-8 mr-8 blue-grey-100-fg"> | </span>
                        <small class="blue-100-fg"> Optional</small>
                    </span>
                </ng-container>
                <!-- / HEADER -->

                <!-- FRONT -->
                <div class="form-group-front-selector" style="min-height: 262px;">
                    <div class="mdc-form-body extra-container">
                        <div class="mdc-form-box">
                            <mat-form-field>
                                <mat-select placeholder="Grantors" name="grantors"
                                    [(ngModel)]="patient.patientInfo.grantors" [compareWith]="matSelectCompare"
                                    multiple>
                                    <mat-select-trigger class="text-capitalize">
                                        {{patient.patientInfo.grantors ? patient.patientInfo.grantors[0]?.name : ''}}
                                        <span *ngIf="patient.patientInfo.grantors?.length> 1"
                                            class="additional-selection">
                                            (+{{patient.patientInfo.grantors?.length - 1}}
                                            {{patient.patientInfo.grantors?.length
                                            === 2 ?
                                            'other'
                                            : 'others'}})
                                        </span>
                                    </mat-select-trigger>
                                    <mat-option class="text-capitalize" *ngFor="let grantor of grantors"
                                        [value]="grantor">{{grantor?.name}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="mdc-form-box">
                            <mat-form-field class="mdc-smart-input">
                                <input matInput placeholder="Country" name="country" [(ngModel)]="patient.country">
                            </mat-form-field>
                        </div>

                        <div class="mdc-form-box">
                            <mat-form-field class="mdc-smart-input">
                                <input matInput placeholder="City" name="city" [(ngModel)]="patient.city">
                            </mat-form-field>
                        </div>

                        <div class="mdc-form-box">
                            <mat-form-field>
                                <mat-select placeholder="Choose Marital Status" name="maritalStatus"
                                    [(ngModel)]="patient.patientInfo.maritalStatus">
                                    <mat-option>--</mat-option>
                                    <mat-option value="single">Single</mat-option>
                                    <mat-option value="married">Married</mat-option>
                                    <mat-option value="widowed">Widowed</mat-option>
                                    <mat-option value="divorced">Divorced</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="mdc-form-box" [fxHide]="patient.patientInfo.maritalStatus != 'married'">
                            <mat-form-field class="mdc-smart-input">
                                <input matInput placeholder="Spouse Name" name="partnerName"
                                    [(ngModel)]="patient.partner">
                            </mat-form-field>
                        </div>

                        <div class="mdc-form-box">
                            <mat-form-field>
                                <mat-select placeholder="Choose Blood Type" name="bloodType"
                                    [(ngModel)]="patient.patientInfo.bloodType">
                                    <mat-option>--</mat-option>
                                    <mat-option value="a+">A+</mat-option>
                                    <mat-option value="a-">A-</mat-option>
                                    <mat-option value="b+">B+</mat-option>
                                    <mat-option value="b-">B-</mat-option>
                                    <mat-option value="ab+">AB-</mat-option>
                                    <mat-option value="ab-">AB-</mat-option>
                                    <mat-option value="o+">O+</mat-option>
                                    <mat-option value="o-">O-</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="mdc-form-box">
                            <mat-form-field class="mdc-smart-input">
                                <input matInput placeholder="Email" name="email" [(ngModel)]="patient.email">
                            </mat-form-field>
                        </div>

                        <div class="mdc-form-box">
                            <mat-form-field class="mdc-smart-input">
                                <input matInput placeholder="Emergancy Contact" name="emergancyContact"
                                    [(ngModel)]="patient.patientInfo.emergancyContact">
                            </mat-form-field>
                        </div>

                        <div class="mdc-form-box">
                            <mat-form-field class="mdc-smart-input">
                                <input matInput placeholder="Identity Number" name="identityNumber"
                                    [(ngModel)]="patient.identityNumber">
                                <mat-hint align="end">
                                    <mat-icon class="s-18 help-tool" matSuffix
                                        matTooltip="Identity card or passport number." [matTooltipPosition]="'above'"
                                        [matTooltipClass]="'help-tooltip'">help</mat-icon>
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="mdc-form-box">
                            <mat-form-field class="mdc-smart-input">
                                <input matInput placeholder="File Number" name="fileNumber"
                                    [(ngModel)]="patient.patientInfo.fileNumber">
                                <mat-hint align="end">
                                    <mat-icon class="s-18 help-tool" matSuffix
                                        matTooltip="Reference to the physical file number in your clinic."
                                        [matTooltipPosition]="'above'" [matTooltipClass]="'help-tooltip'">help
                                    </mat-icon>
                                </mat-hint>
                            </mat-form-field>
                        </div>

                        <div class="mdc-form-box">
                            <mat-form-field class="mdc-smart-input">
                                <input matInput placeholder="Occupation" name="occupation"
                                    [(ngModel)]="patient.occupation">
                            </mat-form-field>
                        </div>

                        <div class="mdc-form-box">
                            <mat-form-field>
                                <input appMaskDate matInput [matDatepicker]="entryDatePicker" #entryDateModel="ngModel"
                                    name="entryDate" placeholder="Entry Date"
                                    [(ngModel)]="patient.patientInfo.entryDate">
                                <mat-datepicker-toggle matSuffix [for]="entryDatePicker"></mat-datepicker-toggle>
                                <mat-datepicker #entryDatePicker></mat-datepicker>
                                <mat-error *ngIf="entryDateModel.hasError('required')">
                                    This field is required
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="mdc-form-box">

                            <mat-form-field class="example-chip-list">
                                <mat-chip-list #referralsList>
                                    <mat-chip *ngFor="let name of patient.patientInfo.referral"
                                        [selectable]="referralChipssSlectable" [removable]="referralChipsRemovable"
                                        (removed)="removeReferral(name)">
                                        {{name}}
                                        <mat-icon matChipRemove *ngIf="referralChipsRemovable">cancel</mat-icon>
                                    </mat-chip>
                                    <input placeholder="Referrals" [matChipInputFor]="referralsList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="referralChipsAddOnBlur"
                                        (matChipInputTokenEnd)="addReferral($event)">
                                </mat-chip-list>
                            </mat-form-field>
                        </div>
                        <div class="mdc-form-box">
                            <mdc-telephone-input [dataLink]="patient.contactNumbers" name="contactNumbers"
                                (notifyTelephone)="notifyTelephoneHandler($event)"></mdc-telephone-input>
                        </div>
                        <div class="mdc-form-box">
                            <tag-input [group]="'patient'" [dataLink]="patient.patientInfo.tags" [tagsCollection]="tags"
                                (add)="notifyTagHandler($event)"></tag-input>
                        </div>

                        <!-- Fill flexbox -->
                        <div class="mdc-form-box">
                        </div>
                        <div class="mdc-form-box">
                        </div>

                    </div>
                </div>

            </mdc-form-group>
            <!-- / EXTRA DETAILS -->

        </div>

        <!-- PRESENT MEDICATIONS & PAST MEDICATIONS-->
        <div class="flex-container">

            <div class="flex-box">

                <!--PRESENT MEDICATIONS -->
                <mdc-form-group class="mdc-form-group">
                    <!-- HEADER -->
                    <ng-container class="form-group-header-selector">
                        <span class="m-0 h3">Present Medications</span>
                        <span class="mdc-card-mark">
                        </span>
                    </ng-container>
                    <!-- / HEADER -->

                    <!-- FRONT -->
                    <div class="form-group-front-selector">
                        <div class="mdc-form-body">
                            <div class="mdc-form-box">
                                <mdc-medication-input
                                    [dataLink]="patient.patientInfo.specialities.cardiology.medicalHistory.presentMedication.data"
                                    [placeholder]="'Present Medications'" [modelName]="'presentMedication'"
                                    (notifyMedication)="notifyMedicationHandler($event)">
                                </mdc-medication-input>
                            </div>
                        </div>
                    </div>
                    <!-- / FRONT -->

                    <!-- BACK -->
                    <div class="form-group-back-selector">
                        <div class="flex-container">
                            <div class="flex-box">
                            </div>
                        </div>
                    </div>
                    <!-- / BACK -->

                </mdc-form-group>
                <!-- / PRESENT MEDICATIONS -->

            </div>

            <div class="flex-box">

                <!-- PAST MEDICATIONS-->
                <mdc-form-group class="mdc-form-group">
                    <!-- HEADER -->
                    <ng-container class="form-group-header-selector">
                        <span class="m-0 h3">Past Medications</span>
                    </ng-container>
                    <!-- / HEADER -->

                    <!-- FRONT -->
                    <div class="form-group-front-selector">
                        <div class="mdc-form-body">
                            <div class="mdc-form-box">
                                <mdc-medication-input
                                    [dataLink]="patient.patientInfo.specialities.cardiology.medicalHistory.pastMedication.data"
                                    [placeholder]="'Past Medications'" [modelName]="'pastMedication'"
                                    (notifyMedication)="notifyMedicationHandler($event)">
                                </mdc-medication-input>
                            </div>
                        </div>
                    </div>
                    <!-- / FRONT -->

                    <!-- BACK -->
                    <div class="form-group-back-selector">
                    </div>
                    <!-- / BACK -->

                </mdc-form-group>
                <!-- / PAST MEDICATIONS-->

            </div>
            <!-- TEMP -->
            <div class="" fxFlex="33">

                <!-- PAST MEDICATIONS-->
                <mdc-form-group class="mdc-form-group">
                    <!-- HEADER -->
                    <ng-container class="form-group-header-selector">
                        <span class="m-0 h3">Risk Factors</span>
                    </ng-container>
                    <!-- / HEADER -->

                    <!-- FRONT -->
                    <div class="form-group-front-selector">
                        <div class="mdc-form-body">
                            <div class="mdc-form-box">
                                <mdc-lookup-input-advanced [lookupsCollection]="lookups.riskFactors || []"
                                    [dataLink1]="patient.patientInfo.specialities.cardiology.medicalHistory.riskFactors"
                                    [groupkey]="'risk_factors'" [modelName]="'riskFactors'"
                                    [placeholder]="'Risk Factors'" [showrisk]="true" [predefinedActive]="true"
                                    [list]="patient.patientInfo.specialities.cardiology.medicalHistory.riskFactors.data"
                                    (notifyRisk)="lookupNotifyHandlerRisk($event)" #riskFactorsElRef>
                                </mdc-lookup-input-advanced>
                            </div>
                        </div>
                    </div>
                    <!-- / FRONT -->

                    <!-- BACK -->
                    <div class="form-group-back-selector">
                    </div>
                    <!-- / BACK -->

                </mdc-form-group>
                <!-- / PAST MEDICATIONS-->

            </div>
        </div>
        <!-- / PRESENT MEDICATIONS & PAST MEDICATIONS-->

        <div>
            <!-- MEDICAL HISTORY -->
            <mdc-form-group class="mdc-form-group">
                <!-- HEADER -->
                <ng-container class="form-group-header-selector">
                    <span class="m-0 h3">Medical History</span>
                    <span class="mdc-card-mark">
                        <span class="ml-8 mr-8 blue-grey-100-fg"> | </span>
                        <small class="blue-100-fg"> Optional</small>
                    </span>
                </ng-container>
                <!-- / HEADER -->

                <!-- FRONT -->
                <div class="form-group-front-selector">
                    <div class="mdc-form-body">
                        <div class="mdc-form-box">
                            <mdc-lookup-input-advanced [lookupsCollection]="lookups.allergies || []"
                                [dataLink]="patient.patientInfo.specialities.cardiology.medicalHistory.allergies"
                                [groupkey]="'allergies'" [modelName]="'allergies'" [placeholder]="'Allergies'"
                                (notify)="lookupNotifyHandler($event)" (notifyRisk)="lookupNotifyHandlerRisk($event)"
                                [list]="patient.patientInfo.specialities.cardiology.medicalHistory.riskFactors.data"
                                [risk]="true" [predefinedActive]="true" #allergiesElRef>
                                <mat-form-field class="mdc-smart-input">
                                    <input matInput #input placeholder="Allergies" name="allergies" matInput
                                        [formControl]="allergiesControl" [matAutocomplete]="autoAllergies">
                                    <mat-icon class="cursor-pointer" (click)="$event.stopPropagation()" matSuffix
                                        matTooltip="Click here or press enter to store this record"
                                        [matTooltipClass]="'font-size-12'" #save>add_box</mat-icon>
                                    <mat-autocomplete #autoAllergies="matAutocomplete"
                                        [displayWith]="allergiesElRef.displayLookupFn">
                                        <mat-option *ngFor="let option of (lookups.allergies | fuzzysearch: allergiesControl.value :
                                            ['text'])" [value]="option" (onSelectionChange)="input.value !=undefined &&
                                            allergiesElRef.MatOptionSelectionChange($event)">
                                            <div class="flex-spacebetween">
                                                <div [innerHTML]="option.highlights?.text"> </div>
                                            </div>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </mdc-lookup-input-advanced>
                        </div>
                        <div class="mdc-form-box">
                            <mdc-lookup-input-advanced [lookupsCollection]="lookups.family_history || []"
                                [dataLink]="patient.patientInfo.specialities.cardiology.medicalHistory.familyHistory"
                                [groupkey]="'family_history'" [modelName]="'familyHistory'"
                                [placeholder]="'Family History'" (notify)="lookupNotifyHandler($event)" [risk]="true"
                                [predefinedActive]="true"
                                [list]="patient.patientInfo.specialities.cardiology.medicalHistory.riskFactors.data"
                                #familyHistorysElRef>
                                <mat-form-field class="mdc-smart-input">
                                    <input matInput #input placeholder="Family History" name="familyHistory" matInput
                                        [formControl]="familyHistoryControl" [matAutocomplete]="autoFamilyHistory">
                                    <mat-icon class="cursor-pointer" (click)="$event.stopPropagation()" matSuffix
                                        matTooltip="Click here or press enter to store this record"
                                        [matTooltipClass]="'font-size-12'" #save>add_box</mat-icon>
                                    <mat-autocomplete #autoFamilyHistory="matAutocomplete"
                                        [displayWith]="familyHistorysElRef.displayLookupFn">
                                        <mat-option *ngFor="let option of (lookups.family_history | fuzzysearch:
                                            familyHistoryControl.value : ['text'])" [value]="option"
                                            (onSelectionChange)="input.value !=undefined &&
                                            familyHistorysElRef.MatOptionSelectionChange($event)">
                                            <div class="flex-spacebetween">
                                                <div [innerHTML]="option.highlights?.text"> </div>
                                            </div>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </mdc-lookup-input-advanced>
                        </div>

                        <div class="mdc-form-box">
                            <mdc-lookup-input-advanced [lookupsCollection]="lookups.medical_issues || []"
                                [dataLink]="patient.patientInfo.specialities.cardiology.medicalHistory.medicalIssues"
                                [groupkey]="'medical_issues'" [modelName]="'medicalIssues'"
                                [placeholder]="'Medical Issues'" (notify)="lookupNotifyHandler($event)" [risk]="true"
                                [predefinedActive]="true"
                                [list]="patient.patientInfo.specialities.cardiology.medicalHistory.riskFactors.data"
                                #medicalIssuesElRef>
                                <mat-form-field class="mdc-smart-input">
                                    <input matInput #input placeholder="Medical Issues" name="medicalIssues" matInput
                                        [formControl]="medicalIssuesControl" [matAutocomplete]="autoMedicalIssues">
                                    <mat-icon class="cursor-pointer" (click)="$event.stopPropagation()" matSuffix
                                        matTooltip="Click here or press enter to store this record"
                                        [matTooltipClass]="'font-size-12'" #save>add_box</mat-icon>
                                    <mat-autocomplete #autoMedicalIssues="matAutocomplete"
                                        [displayWith]="medicalIssuesElRef.displayLookupFn">
                                        <mat-option *ngFor="let option of (lookups.medical_issues | fuzzysearch:
                                            medicalIssuesControl.value : ['text'])" [value]="option"
                                            (onSelectionChange)="input.value !=undefined &&
                                            medicalIssuesElRef.MatOptionSelectionChange($event)">
                                            <div class="flex-spacebetween">
                                                <div [innerHTML]="option.highlights?.text"> </div>
                                            </div>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </mdc-lookup-input-advanced>
                        </div>
                    </div>
                    <div class="mdc-form-body">
                        <div class="mdc-form-box">
                            <mdc-lookup-input-advanced [lookupsCollection]="lookups.cardiovascular || []"
                                [dataLink]="patient.patientInfo.specialities.cardiology.medicalHistory.cardioVascular"
                                [groupkey]="'cardiovascular'" [modelName]="'cardiovascular'"
                                [placeholder]="'Cardiovascular'" [risk]="true" [predefinedActive]="true"
                                [list]="patient.patientInfo.specialities.cardiology.medicalHistory.riskFactors.data"
                                (notify)="lookupNotifyHandler($event)" #cardiovascularElRef>
                                <mat-form-field class="mdc-smart-input">
                                    <input matInput #input placeholder="Cardiovascular" name="Cardiovascular" matInput
                                        [formControl]="cardiovascularControl" [matAutocomplete]="autoCardiovascular">
                                    <mat-icon class="cursor-pointer" (click)="$event.stopPropagation()" matSuffix
                                        matTooltip="Click here or press enter to store this record"
                                        [matTooltipClass]="'font-size-12'" #save>add_box</mat-icon>
                                    <mat-autocomplete #autoCardiovascular="matAutocomplete"
                                        [displayWith]="cardiovascularElRef.displayLookupFn">
                                        <mat-option *ngFor="let option of (lookups.cardiovascular | fuzzysearch: cardiovascularControl.value :
                                            ['text'])" [value]="option" (onSelectionChange)="input.value !=undefined &&
                                            cardiovascularElRef.MatOptionSelectionChange($event)">
                                            <div class="flex-spacebetween">
                                                <div [innerHTML]="option.highlights?.text"> </div>
                                            </div>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </mdc-lookup-input-advanced>
                        </div>
                        <div class="mdc-form-box">
                            <mdc-lookup-input-advanced [lookupsCollection]="lookups.gi || []"
                                [dataLink]="patient.patientInfo.specialities.cardiology.medicalHistory.gi"
                                [groupkey]="'gi'" [modelName]="'gi'" [placeholder]="'GI'" [risk]="true"
                                [predefinedActive]="true"
                                [list]="patient.patientInfo.specialities.cardiology.medicalHistory.riskFactors.data"
                                (notify)="lookupNotifyHandler($event)" #giElRef>
                                <mat-form-field class="mdc-smart-input">
                                    <input matInput #input placeholder="GI" name="gi" matInput [formControl]="giControl"
                                        [matAutocomplete]="autoGi">
                                    <mat-icon class="cursor-pointer" (click)="$event.stopPropagation()" matSuffix
                                        matTooltip="Click here or press enter to store this record"
                                        [matTooltipClass]="'font-size-12'" #save>add_box</mat-icon>
                                    <mat-autocomplete #autoGi="matAutocomplete" [displayWith]="giElRef.displayLookupFn">
                                        <mat-option *ngFor="let option of (lookups.gi | fuzzysearch:
                                            giControl.value : ['text'])" [value]="option" (onSelectionChange)="input.value !=undefined &&
                                            giElRef.MatOptionSelectionChange($event)">
                                            <div class="flex-spacebetween">
                                                <div [innerHTML]="option.highlights?.text"> </div>
                                            </div>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </mdc-lookup-input-advanced>
                        </div>

                        <div class="mdc-form-box">
                            <mdc-lookup-input-advanced [lookupsCollection]="lookups.endocrinology || []"
                                [dataLink]="patient.patientInfo.specialities.cardiology.medicalHistory.endocrinology"
                                [groupkey]="'endocrinology'" [modelName]="'endocrinology'"
                                [placeholder]="'Endocrinology '" [risk]="true" [predefinedActive]="true"
                                [list]="patient.patientInfo.specialities.cardiology.medicalHistory.riskFactors.data"
                                (notify)="lookupNotifyHandler($event)" #endocrinologyElRef>
                                <mat-form-field class="mdc-smart-input">
                                    <input matInput #input placeholder="Endocrinology" name="endocrinology" matInput
                                        [formControl]="endocrinologyControl" [matAutocomplete]="autoEndocrinology">
                                    <mat-icon class="cursor-pointer" (click)="$event.stopPropagation()" matSuffix
                                        matTooltip="Click here or press enter to store this record"
                                        [matTooltipClass]="'font-size-12'" #save>add_box</mat-icon>
                                    <mat-autocomplete #autoEndocrinology="matAutocomplete"
                                        [displayWith]="endocrinologyElRef.displayLookupFn">
                                        <mat-option *ngFor="let option of (lookups.endocrinology | fuzzysearch:
                                            endocrinologyControl.value : ['text'])" [value]="option"
                                            (onSelectionChange)="input.value !=undefined &&
                                            endocrinologyElRef.MatOptionSelectionChange($event)">
                                            <div class="flex-spacebetween">
                                                <div [innerHTML]="option.highlights?.text"> </div>
                                            </div>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </mdc-lookup-input-advanced>
                        </div>
                    </div>
                    <div class="mdc-form-body">
                        <div class="mdc-form-box">
                            <mdc-lookup-input-advanced [lookupsCollection]="lookups.lung_diseases || []"
                                [dataLink]="patient.patientInfo.specialities.cardiology.medicalHistory.lungDiseases"
                                [groupkey]="'lung_diseases'" [modelName]="'lungDiseases'"
                                [placeholder]="'Lung Diseases'" [predefinedActive]="true"
                                (notify)="lookupNotifyHandler($event)" [risk]="true"
                                [list]="patient.patientInfo.specialities.cardiology.medicalHistory.riskFactors.data"
                                #lungDiseasesElRef>
                                <mat-form-field class="mdc-smart-input">
                                    <input matInput #input placeholder="Lung Diseases" name="lungDiseases" matInput
                                        [formControl]="lungDiseasesControl" [matAutocomplete]="autoLungDiseases">
                                    <mat-icon class="cursor-pointer" (click)="$event.stopPropagation()" matSuffix
                                        matTooltip="Click here or press enter to store this record"
                                        [matTooltipClass]="'font-size-12'" #save>add_box</mat-icon>
                                    <mat-autocomplete #autoLungDiseases="matAutocomplete"
                                        [displayWith]="lungDiseasesElRef.displayLookupFn">
                                        <mat-option *ngFor="let option of (lookups.lungDiseases | fuzzysearch: lungDiseasesControl.value :
                                            ['text'])" [value]="option" (onSelectionChange)="input.value !=undefined &&
                                            lungDiseasesElRef.MatOptionSelectionChange($event)">
                                            <div class="flex-spacebetween">
                                                <div [innerHTML]="option.highlights?.text"> </div>
                                            </div>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </mdc-lookup-input-advanced>
                        </div>
                        <div class="mdc-form-box">
                            <mdc-lookup-input-advanced [lookupsCollection]="lookups.neurology || []"
                                [dataLink]="patient.patientInfo.specialities.cardiology.medicalHistory.neurology"
                                [groupkey]="'neurology'" [modelName]="'neurology'" [placeholder]="'Neurology'"
                                [predefinedActive]="true" (notify)="lookupNotifyHandler($event)" [risk]="true"
                                [list]="patient.patientInfo.specialities.cardiology.medicalHistory.riskFactors.data"
                                #neurologyElRef>
                                <mat-form-field class="mdc-smart-input">
                                    <input matInput #input placeholder="Neurology" name="neurologyHistory" matInput
                                        [formControl]="neurologyControl" [matAutocomplete]="autoNeurology">
                                    <mat-icon class="cursor-pointer" (click)="$event.stopPropagation()" matSuffix
                                        matTooltip="Click here or press enter to store this record"
                                        [matTooltipClass]="'font-size-12'" #save>add_box</mat-icon>
                                    <mat-autocomplete #autoNeurology="matAutocomplete"
                                        [displayWith]="neurologyElRef.displayLookupFn">
                                        <mat-option *ngFor="let option of (lookups.neurology | fuzzysearch:
                                            neurologyControl.value : ['text'])" [value]="option" (onSelectionChange)="input.value !=undefined &&
                                            neurologyElRef.MatOptionSelectionChange($event)">
                                            <div class="flex-spacebetween">
                                                <div [innerHTML]="option.highlights?.text"> </div>
                                            </div>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </mdc-lookup-input-advanced>
                        </div>

                        <div class="mdc-form-box">
                            <mdc-lookup-input-advanced [lookupsCollection]="lookups.physiomatic_disorder || []"
                                [dataLink]="patient.patientInfo.specialities.cardiology.medicalHistory.physiomaticDisorder"
                                [groupkey]="'physiomatic_disorder'" [modelName]="'physiomaticDisorder'"
                                [placeholder]="'Physiomatic Disorder'" [predefinedActive]="true"
                                (notify)="lookupNotifyHandler($event)" [risk]="true"
                                [list]="patient.patientInfo.specialities.cardiology.medicalHistory.riskFactors.data"
                                #physiomaticDisorderElRef>
                                <mat-form-field class="mdc-smart-input">
                                    <input matInput #input placeholder="Physiomatic Disorder" name="physiomaticDisorder"
                                        matInput [formControl]="physiomaticDisorderControl"
                                        [matAutocomplete]="autoPhysiomaticDisorder">
                                    <mat-icon class="cursor-pointer" (click)="$event.stopPropagation()" matSuffix
                                        matTooltip="Click here or press enter to store this record"
                                        [matTooltipClass]="'font-size-12'" #save>add_box</mat-icon>
                                    <mat-autocomplete #autoPhysiomaticDisorder="matAutocomplete"
                                        [displayWith]="physiomaticDisorderElRef.displayLookupFn">
                                        <mat-option *ngFor="let option of (lookups.physiomatic_disorder | fuzzysearch:
                                            physiomaticDisorderControl.value : ['text'])" [value]="option"
                                            (onSelectionChange)="input.value !=undefined &&
                                            physiomaticDisorderElRef.MatOptionSelectionChange($event)">
                                            <div class="flex-spacebetween">
                                                <div [innerHTML]="option.highlights?.text"> </div>
                                            </div>
                                        </mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </mdc-lookup-input-advanced>
                        </div>
                    </div>
                    <div class="mdc-form-body">
                        <div class="mdc-form-box" style="overflow-x: auto;">
                            <surgery-table
                                [dataLink]="patient.patientInfo.specialities.cardiology.medicalHistory.surgicalHistory.data"
                                (surgeryTable)="notifySurgeryHandler($event)"></surgery-table>
                        </div>
                    </div>
                </div>

            </mdc-form-group>
            <!-- / MEDICAL HISTORY -->
        </div>

    </form>
</div>